services:
  mongo:
    image: mongo:8
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO__USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO__PASSWORD}
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    healthcheck:
      test: ["CMD-SHELL", 'mongosh --eval ''db.adminCommand("ping")''']
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s

  redis:
    image: redis:7-alpine
    hostname: redis
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5

  main-app:
    build:
      context: ./backend
      dockerfile: Dockerfile
    image: app-image
    container_name: main-app
    labels:
      - "app_service=api"
    env_file:
      - .env
    ports:
      - "${API__PORT}:8000"
    command: "python -m uvicorn --factory presentation.api.main:create_app --host 0.0.0.0 --port 8000"
    depends_on:
      mongo:
        condition: service_healthy

  frontend:
    build:
      context: ./frontend
      args:
        - VITE_API_URL=${VITE_API_URL:-http://localhost:8000}


  nginx:
    image: nginx:stable-alpine
    ports:
      - "80:80"
      # - "443:443"
    volumes:
      # - './frontend/certs/:/etc/nginx/certs:ro'
      - './nginx.conf:/etc/nginx/nginx.conf'
    depends_on:
      - main-app
      - frontend

volumes:
  mongo_data:
  redis_data:
