services:
  mongo:
    image: mongo:8
    hostname: mongo
    container_name: mongo
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO__USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO__PASSWORD}
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    healthcheck:
      test: ["CMD-SHELL", 'mongosh --eval ''db.adminCommand("ping")''']
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s
    networks:
      - app-network

  redis:
    image: redis:7-alpine
    hostname: redis
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5
    networks:
      - app-network

  maildev:
    image: maildev/maildev
    container_name: maildev
    ports:
      - "1080:1080"
      - "1025:1025"
    networks:
      - app-network

  rabbitmq:
    image: rabbitmq:3-management-alpine
    hostname: rabbitmq
    container_name: rabbitmq
    ports:
      - "5672:5672" # AMQP
      - "15672:15672" # Management UI
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ__USERNAME:-guest}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ__PASSWORD:-guest}
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "check_running"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - app-network

  taskiq-worker:
    build:
      context: ./backend
      dockerfile: Dockerfile
    image: app-image
    container_name: taskiq-worker
    env_file:
      - .env
    command: "python -m taskiq worker infrastructure.broker.broker:broker --fs-discover --tasks-pattern application/tasks/*.py"
    depends_on:
      rabbitmq:
        condition: service_healthy
      maildev:
        condition: service_started
    networks:
      - app-network

  main-app:
    build:
      context: ./backend
      dockerfile: Dockerfile
    image: app-image
    container_name: main-app
    labels:
      - "app_service=api"
    env_file:
      - .env
    ports:
      - "${API__PORT}:8000"
    command: "python -m uvicorn --factory presentation.api.main:create_app --host 0.0.0.0 --port 8000"
    depends_on:
      mongo:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    networks:
      - app-network

  telegram-bot:
    build:
      context: ./backend
      dockerfile: Dockerfile
    image: app-image
    container_name: telegram-bot
    labels:
      - "app_service=telegram-bot"
    env_file:
      - .env
    environment:
      - RUNNING_IN_DOCKER=1
    command: "python telegram_bot.py"
    depends_on:
      main-app:
        condition: service_started
    networks:
      - app-network
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      args:
        - VITE_API_URL=${VITE_API_URL}
    networks:
      - app-network

  nginx:
    image: nginx:stable-alpine
    ports:
      - "80:80"
      # - "443:443"
    volumes:
      # - './frontend/certs/:/etc/nginx/certs:ro'
      - "./nginx.conf:/etc/nginx/nginx.conf"
    depends_on:
      - main-app
      - frontend
    networks:
      - app-network

volumes:
  mongo_data:
  redis_data:
  rabbitmq_data:

networks:
  app-network:
    driver: bridge
