@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.card {
  background: var(--color-bg-secondary);
  border: 1px solid var(--color-border);
  border-radius: 25px;

  // Padding варианты
  &--padding-none {
    padding: 0;
  }

  &--padding-sm {
    padding: $spacing-sm;
  }

  &--padding-md {
    padding: $spacing-md;
  }

  &--padding-lg {
    padding: $spacing-lg;
  }

  &--interactive {
    cursor: pointer;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
  }
}
