@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.input {
  display: flex;
  flex-direction: column;
  gap: $spacing-md;

  &--full-width {
    width: 100%;
  }

  &--error {
    .input__field {
      border-color: var(--color-error);

      &:focus {
        border-color: var(--color-error);
        box-shadow: 0 0 30px rgba(248, 113, 113, 0.15);
      }
    }
  }

  &__label {
    font-size: $font-size-sm;
    color: var(--color-text-secondary);
  }

  &__field {
    @include glass-input;
    width: 100%;
    padding: 18px 24px;
    border-radius: $radius-lg;
    font-size: $font-size-base;
  }

  &__error {
    font-size: $font-size-xs;
    color: var(--color-error);
  }
}
