.profile-top-bar {
  position: sticky;
  top: 0;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
  background: #090909;

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-bg-secondary);
    border: 1px solid var(--color-border);
    border-radius: 50%;
    cursor: pointer;
    color: var(--color-text-secondary);
    transition: all 0.2s;

    &:hover {
      background: rgba(63, 63, 63, 0.7);
      transform: scale(1.05);
    }

    &:active {
      transform: scale(0.95);
    }

    svg {
      width: 20px;
      height: 20px;
    }
  }
}

// Light theme
[data-theme="light"] {
  .profile-top-bar {
    background: #edf3ff;

    &__btn {
      background: rgba(0, 0, 0, 0.05);
      color: #585e67;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);

      &:hover {
        background: rgba(0, 0, 0, 0.08);
      }
    }
  }
}
